- placeholder ||= nil
= form_for [checklist, item], remote: true do |f|
  .col-xs-6.col-md-4
    - unless item.new_record?
      .checklist-item-name{'data-edit-prompt' => 'Edit'}
        %span.name= item.name
    = f.text_field :name, placeholder: placeholder, class: 'form-control', :'data-edit-control' => true
  .col-xs-2.col-md-1
    = f.submit 'Save', :'data-disable-with' => 'Saving..', class: 'btn btn-primary btn-sm', :'data-edit-control' => true
