%tr
  %td.checklist-item-name{'data-edit-prompt' => 'Edit'}
    %span.name= item.name
    = render 'checklists/checklist_item_form', checklist: checklist, item: item
  %td= link_to 'Remove', checklist_checklist_item_path(checklist, item), class: 'destroy-checklist-item btn btn-danger', method: :delete, remote: true, :'data-disable-with' => 'Working..'
