%table.table
  %thead
    %tr
      %th Item
      %th
  %tbody
  - checklist.checklist_items.each do |item|
    = render 'checklist_item', item: item, checklist: checklist
  %tr
    %td= render 'checklist_item_form', checklist: checklist, item: ChecklistItem.new
    %td
