%table.table
  %thead
    %tr
      %th Item
      %th
  %tbody
  - checklist.checklist_items.each do |item|
    = render 'checklist_item', item: item, checklist: checklist
  %tr
    = form_for checklist.checklist_items.new, url: checklist_checklist_items_path(checklist), remote: true, html: {class: 'new-checklist'} do |f|
      %td
        = f.text_field :name
      %td
        = f.submit 'Save', :'data-disable-with' => 'Saving..'
