.checklist-items .row
  padding: 10px 0 10px
  .btn
    vertical-align: middle

.checklist-item-name
  .edit_checklist_item
    display: none

  &[data-edit-mode]
    .edit_checklist_item
      display: block
    .name
      display: none

  &:not([data-edit-mode])
    &:hover:after
      content: attr(data-edit-prompt)
      margin-left: 5px
      color: grey

[data-comfortable-text]
  @media (max-width: 767px)
    &:after
      content: attr(data-abbreviated-text)

  @media (min-width: 768px)
    &:after
      content: attr(data-comfortable-text)
